body {
    background: linear-gradient(var(--BackgroundBlueGrey), var(--bgColourSeven));

}

main {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: relative;
}

button {
    background: none;
    border: 0;
    outline: 0;
}

.fullContainer {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.VideoContainer {
    width: 60%;
    position: absolute;
    left: 5%;
    top: 10%;
}

.VideoDiv {
    position: relative;
    overflow: hidden;
}

.VideoDiv:hover .VideoControls, .VideoDiv:hover .TitleName{
    transform: translateX(0);
}

.VideoDiv:hover .PlayBar {
    position: absolute;
    width: 100%;
    height: 10px;
    top: 0;
}

.VideoDiv:hover .PlayColour {
    height: 10px;
}

.videoPlayer {
    width: 100%;
    border-radius: 20px;
}

.TitleName {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
    background: linear-gradient(#2c414ebe,#2c414e00);
    height: 10vh;
    transform: translateY(-100%);
    transition: 0.5s;
    border-radius: 20px 20px 0 0 ;
}

.TitleVideo {
    font-size: 1rem;
    padding: 2vh;
    opacity: 0.8;
}

.VideoControls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: linear-gradient(#2c414e00,#2c414ebe);
    height: 10vh;
    transform: translateY(calc( 100% - 5px));
    border-radius: 0 0 20px 20px;
    transition: 0.5s;
}

.ContentTypeText.Title {
    font-size: 1.7rem;
    padding: 2.5vh 0 1vh;
}

.Buttons {
    width: 100%;
    position: relative;
}


.Buttons .playPause, .VolumeSelector .volumeMuteUnmute, .FullscreenButton{
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    height: calc(100% - 10px);
    bottom: 0;
    width: 42px;
}

.Buttons .playPause {
    position: absolute;
    left: 4%;
}

.VolumeSelector .volumeMuteUnmute {
    position: absolute;
    right: 10%;
}

.FullscreenButton {
    position: absolute;
    right: 4%;
}

.VideoTime {
    font-size: 0.8rem;
    height: calc(100% - 10px);
    bottom: 0;
    position: absolute;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.VideoSeekers {
    font-size: 1.5rem;
    height: calc(100% - 10px);
    bottom: 0;
    position: absolute;
    left: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.SeekLeft, .SeekRight {
    padding: 0 1vh;
    cursor: pointer;
}


.volume {
    height: calc(100% - 10px);
    bottom: 0;
    position: absolute;
    right: 18%;
}




.Buttons .playPause::before {
    font-family: "Font Awesome 5 Free";
    content: "\f04b";
    line-height: 50px;
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.Buttons .playPause.play::before {
    content: "\f04b";
}

.Buttons .playPause.pause::before {
    content: "\f04c";
}

.VolumeSelector .volumeMuteUnmute::before {
    font-family: "Font Awesome 5 Free";
    content: "\f028";
    line-height: 50px;
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    -webkit-font-smoothing: antialiased;
    float: left;

}

.VolumeSelector .volumeMuteUnmute.volumeHigh::before {
    content: "\f028";
}

.VolumeSelector .volumeMuteUnmute.volumeLow::before {
    content: "\f027";
}

.VolumeSelector .volumeMuteUnmute.volumeMuted::before {
    content: "\f6a9";
}

.FullscreenButton::before {
    font-family: "Font Awesome 5 Free";
    content: "\f065";
    line-height: 50px;
    font-weight: 900;
    font-size: 1.5rem;
    color: white;
    -webkit-font-smoothing: antialiased;
    float: left;
}

.FullscreenButton.minimisedVideo::before {
    content: "\f065";
}

.FullscreenButton.fullscreenVideo::before {
    content: "\f066";
}

.PlayBar {
    height: 5px;
    top: 0;
    left: 0;
    width: calc(100% - 40px);
    margin: 0 auto;
    background-color: #2c414e4b;
    border-radius: 20px;
    transition: 0.5s;
}

.PlayColour {
    height: 5px;
    background-color: var(--CloudRedDark);
    border-radius: 20px;
    transition: 0.5s;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 8vw;
    margin: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    position: relative;
    background: var(--CloudRedDark);
    height: 10px;
    border-radius: 20px;
}

.volumeInputSliderDiv {
    position: absolute;
    right: 18%;
    width: 8vw;
    height: calc(100% - 10px);
    bottom: 0;
    pointer-events: none;

}

.volumeInputSlider {
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    margin-top: -4px;
}
/* VIEW MORE SECTION */

.ViewMoreSection {
    width: 30%;
    height: 70%;
    position: absolute;
    right: 2.5%;
    top: 10%;
}

.ViewMoreContent {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.WatchMoreVideo {
    margin: 2vh 0;
    height: 25vh;
}

.VideoClick {
    height: 100%;
    margin: auto 0;
}

.VideoSeperator {
    width: 100%;
    height: 2px;
    border: 1px solid var(--BackgroundBlueGrey);
}

.ViewMoreTitle {
    font-size: 1.4rem;
    font-family: "Gordita Bold";
    margin-bottom: 2vh;
}



.VideoViewerTitle {
    position: relative;
    height: 100%;
}

.VideoThumbnail {
    position: absolute;
    width: 50%;
    left: 0;
}

.VideoVMTitle {
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
}

.TitleSmall {
    font-size: 1.2rem;
    padding-left: 1vw;
    line-height: 1.2;
}

.Date {
    font-size: 0.6rem;
    padding-left: 1vw;
    color: var(--BackgroundBlueGreyDark);
    position: absolute;
    bottom: 3.7vh;
}

