main {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: relative;
}

.fullContainer {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.VideoContainer {
    width: 60%;
    position: absolute;
    left: 5%;
    top: 10%;
}

.videoPlayer {
    width: 100%;
}



/* VIEW MORE SECTION */

.ViewMoreSection {
    width: 30%;
    height: 70%;
    position: absolute;
    right: 2.5%;
    top: 10%;
}

.WatchMoreVideo {
    padding: 2vh 0;
}

.ViewMoreTitle {
    font-size: 1.4rem;
    font-family: "Gordita Bold";
    margin-bottom: 2vh;
}

.ViewMoreContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.VideoViewerTitle {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
}

.VideoThumbnail {
    width: 25vw;
}

.TitleSmall {
    font-size: 1rem;
    padding-left: 1vw;
}

.Date {
    font-size: 0.6rem;
    padding-left: 1vw;
    color: var(--BackgroundBlueGrey);
    position: absolute;
    bottom: 1vh;
}

