body {
    background: linear-gradient(var(--BackgroundBlueGrey), var(--bgColourSeven));

}

main {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    position: relative;
}

.fullContainer {
    height: calc(100vh - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.VideoContainer {
    width: 60%;
    position: absolute;
    left: 5%;
    top: 10%;
}

.VideoDiv {
    position: relative;
}

.videoPlayer {
    width: 100%;
    border-radius: 20px;
}

.TitleName {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    flex-wrap: wrap;
    background: linear-gradient(#00122077,#2c414e00);
    height: 10vh;
    border-radius:20px 20px 0 0;
}

.TitleVideo {
    font-size: 1rem;
    padding: 2vh;
    opacity: 0.8;
}

.VideoControls {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background: linear-gradient(#2c414e00,#2c414ebe);
    height: 10vh;
    border-radius: 0 0 20px 20px;
}

.ContentTypeText.Title {
    font-size: 1.7rem;
    padding: 2.5vh 0 1vh;
}



/* VIEW MORE SECTION */

.ViewMoreSection {
    width: 30%;
    height: 70%;
    position: absolute;
    right: 2.5%;
    top: 10%;
}

.ViewMoreContent {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.WatchMoreVideo {
    margin: 2vh 0;
    height: 25vh;
}

.VideoClick {
    height: 100%;
    margin: auto 0;
}

.VideoSeperator {
    width: 100%;
    height: 2px;
    border: 1px solid var(--BackgroundBlueGrey);
}

.ViewMoreTitle {
    font-size: 1.4rem;
    font-family: "Gordita Bold";
    margin-bottom: 2vh;
}



.VideoViewerTitle {
    position: relative;
    height: 100%;
}

.VideoThumbnail {
    position: absolute;
    width: 50%;
    left: 0;
}

.VideoVMTitle {
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
}

.TitleSmall {
    font-size: 1.2rem;
    padding-left: 1vw;
    line-height: 1.2;
}

.Date {
    font-size: 0.6rem;
    padding-left: 1vw;
    color: var(--BackgroundBlueGreyDark);
    position: absolute;
    bottom: 3.7vh;
}

